<div class="container">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="row">
            <button class="btn btn-primary" routerLink="address" >Employee Address</button><br>
        </div>
        <div class="row">
            <button class="btn btn-primary" routerLink="contact">Employee Contact</button><br>
        </div>
        <div class="row">
            <button class="btn btn-primary" routerLink="designation">Employee Designation</button><br>
        </div>
        <div class="row">

            <button class="btn btn-primary" routerLink="payscale">Employee Payscale</button><br>

        </div>
        <div class="row">

            <button class="btn btn-primary" routerLink="profile">Employee Profile</button><br>

        </div>
        <div class="row">

            <button class="btn btn-primary" routerLink="skillset">Employee Skill</button><br>

        </div>
    </div>
    
    <router-outlet></router-outlet>
</div>